#loading-box
    .loading-left-bg
    .loading-right-bg
    .spinner-box
        div(class='spinner-box-content')
            span
                span
                span
                span
                span
            .base
                span
                .face
        .longfazers
                span
                span
                span
                span
        span(class='loading-text')='正在加载...'
